{% extends 'base.html' %}
{% block title %}404 - Pagina non trovata{% endblock %}
{% block content %}

<div class="container content-container">
    
    <div class="row no-gutters">
        <div class="col-md-9 order-md-2">
            <div class="about-page-block">
                <p class="lead">Errore 404</p>
                <hr>
                <p>Pagina non trovata.</p>
                <p>La pagina richiesta non esiste oppure l'url immesso è errato.</p>
                <hr>
                <a class="btn btn-sm btn-outline-secondary" href="{{url_for('homepage')}}">Tutti i post</a>
            </div>
        </div>
    
        <div class="col-md-3 order-md-1">
            {% include "about_me_snippet.html" %}
        </div>
    </div>
    
    {% if boolean_flag %}
        <p>Boolean Flag: True</p>
    {% endif %}
</div>    
{% endblock %}