<div class="about-snippet-block text-center">
    <img class="img-fluid" width="150" alt="artificial intelligence" src="{{ url_for('static', filename='img/ai.png') }}">
    <div class="mt-3">
        <p class="p-small-one">Ridiculus vulputate rhoncus potenti platea, dapibus nunc amet.</p>
        <p class="p-small-one">Ridiculus vulputate rhoncus potenti platea, dapibus nunc amet.</p>
        <p class="p-small-one">Ridiculus vulputate rhoncus potenti platea, dapibus nunc amet.</p>
        <hr>
        <p class="p-small-one text-muted">Eleifend maecenas platea montes cursus inceptos, dictumst neque pretium.</p>
        <p class="p-small-one text-muted">Eleifend maecenas platea montes cursus inceptos, dictumst neque pretium.</p>
    </div>    
</div>